.section {
    // justify-content: center;
    // align-items: center;
    // display: grid;
    // flex-direction: column;
    // margin: 20px 0;

    .title {
        font-size: 16px;
        margin: 20px 0 10px 0;
        text-transform: uppercase;
    }
}

.productCards {
    display: flex;
    gap: 15px;
    // justify-content: center;
    align-items: center;
}
