

.route {
    align-items: anchor-center;
    color: var(--primary-color);
    cursor: pointer;
    padding-top: 20px;
  
    span {
      display: flex;
      gap: 2px;
      align-items: anchor-center;
    }
  
    p {
      display: flex;
      gap: 2px;
      font-size: 14px;
    }
  }

  .section {
  background-color: var(--secondary-version-color);
  border-radius: 8px;
  padding: 30px 25px;
  margin-top: 30px;
  // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 18px;
    color:  var(--primary-color);
    margin-bottom: 15px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
  }

  li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 12px;
    padding-left: 18px;
    position: relative;
    list-style: none;

    &::before {
      content: "•";
      color: var(--primary-color);
      font-weight: bold;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.2rem;
      line-height: 1.2;
    }
  }
}

// Responsividade básica
@media (max-width: 600px) {
  .section {
    padding: 20px 15px;

    h1 {
      font-size: 1.5rem;
    }

    p,
    li {
      font-size: 0.95rem;
    }
  }
}
