.content{
    background-color: #04528e0e;
    // max-height: 180px;
    // // display: flex;
    // justify-content: space-between;
    // // align-items: center;
    // flex-direction: column;
    // display: grid;

    p{
        font-size: 14px;
    }

    .firstRow{
        display: flex; 
        gap: 15px;
        align-items: anchor-center;
        justify-content: space-around;


        .icons{
            display: flex;
            gap: 15px;
            align-items: anchor-center;
        }

        .profile{
            display: flex;
            align-items: anchor-center;
            gap: 10px;

            p{
                font-size: 12px;
            }
        }

        .userProfile{
            background-color: var(--primary-color);
            padding: 5px;
            border-radius: 50%;
        }
    }

    .secondRow{
        display: flex;
        gap: 45px;
        align-items: anchor-center;
        // justify-content: space-between;
        padding:  0 20px 10px 20px;
        margin-bottom: 10px;

        span{
            color: var(--primary-color);
        }

        .location{
            display: flex;
            gap: 5px;
            align-items: anchor-center;
        }
        .menu{
            display: flex;
            gap: 20px;
            cursor: pointer;
            
            p:hover{
                color: var(--primary-color);
                transition: 0.6s;
            }
            
        }
    }
}